/*just testing 
p{
	font-size: 100px; 
}*/


html {
	box-sizing:border-box;
	font-size: 20px;
}

* *:before, *:after{
	box-sizing: inherit;
}

body{
	font-family: sans-serif;
	margin: 0;
	background: #80D2FC; 
}

div.wrapper{
	display: flex;
	justify-content: space-around;
	padding: 40px; 
	max-width: 900px; 
	margin: auto;
}

div.box{
	background: white; 
	padding: 20px;
	margin: 10px;
	color: #808080;
	display: flex;
	flex-direction: column; 
	justify-content: space-around; 
	align-items: center; 
	border-radius: 10px; 
	transition: .3s;
}

div.box:hover{
	box-shadow: 0 12px 16px rgba(0,0,0,.25);
}


h2.name{
	text-shadow: 2px 2px 4px #d3d3d3; 
	text-align: center; 
	font-size: 35px; 
}


p{
	text-align: center; 
}


p.feature{
	border-bottom: 1px solid rgba(128,128,128,.3);
	padding-bottom: 15px; 
	/*border: 2px solid white;*/
}


p.description{
	padding: 4px 15px;
}


p.price{
	padding: 10px;
	font-size: 20px; 
}

button {
	border: 0;
	width: 70%; 
	padding: 10px;
	font-size: 1em;
	border-radius:10px;  
	cursor: pointer; 
	background: #FFA500; 
	/*border: 2px solid red;*/
	/*transition: 3s;*/
}


@media only all and (max-width: 800px){
	div.wrapper{
		flex-direction: column; 
	}

	button{
		width: 40%;
		font-size: 3vw; 
	}

	p.price{
	    font-size: 5vw; 
	}

    p.description{
    	font-size: 3.5vw; 
    }

    p.feature{
		/*border-bottom: 2px solid rgba(255,255,255,.1);*/
		padding-bottom: 5px; 
		font-size: 3.5vw;
	}

	h2.name{
		font-size: 5.5vw;
	}


}
    








